<mat-card class="main-container">

    <div class="header-container">
        <div id="header-category">
            <h3>Category name</h3>
        </div>

        <hr>

        <div>
            <button class="header-item">
                <mat-icon>format_list_numbered</mat-icon>List view
            </button>
        </div>

        <hr>

        <div>
            <button class="header-item">
                <mat-icon>dashboard</mat-icon>Board view
            </button>
        </div>

        <hr>

        <div>
            <button class="header-item">
                <mat-icon>delete_outline</mat-icon>Delete ctegory_name
            </button>
        </div>
    </div>
</mat-card>